<% include ./partials/header %>

<h1>Welcome to landing page</h1>


<a href="/campgrounds">View all CampGrounds!!</a>
<a href="/campgrounds/new">Add a New CampGround!!</a>

<% include ./partials/footer %>